*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    height: 900px;
}

.marker{
    width: auto;
    display:inline-block;
    text-align: center;
}
.wrapper {
    border: 2px;
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.items {

    background-color: white;
    padding: 1px 0px 1px 16px;
    border-radius: 8px ;
}


