<body>
<h1>To-Do List</h1>
<div class="wrapper">
  <div class="items">
    <div *ngFor="let item of items, index as i">
      <p *ngIf="item.completed" class="marker" style="text-decoration: line-through">{{item.task}}</p>
      <div *ngIf="item.completed === false">
      <p class="marker">{{item.task}} <app-completetask [existingItems]="items" [indexToComplete]=" i"></app-completetask></p>
      </div>
    </div>
  </div>
  
  <br/>
  <app-addtask [existingItems]="items"></app-addtask>
</div>

</body>
